tiffany-springsupport/src/main/resources/META-INF/tiffany.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.cszjo.com/schema/tiffany"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.cszjo.com/schema/tiffany"
            elementFormDefault="qualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <!-- Define Service XSD -->
    <xsd:complexType name="service">
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ Service ID ]]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="port" type="xsd:integer" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ Service ID ]]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="interface" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ Service Interface ]]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ref" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ Service Ref ]]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="server" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ Service Server Id ]]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!-- Define Server XSD -->
    <xsd:complexType name="server">
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ Server Id ]]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="registry" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ Server registry Id ]]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!-- Define Registry XSD -->
    <xsd:complexType name="registry">
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ Registry ID ]]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="protocol" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ Registry Protocol Like Zookeeper ]]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="address"  type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ Registry Protocol Address ]]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!-- Define Referer XSD -->
    <xsd:complexType name="referer">
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ Reference Bean Id ]]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="interface" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="serializeType" type="xsd:string" use="optional"></xsd:attribute>
        <xsd:attribute name="compressType" type="xsd:string" use="optional"></xsd:attribute>
    </xsd:complexType>

    <!---->
    <xsd:complexType name="method">
        <xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="timeout" type="xsd:int" use="optional"></xsd:attribute>
        <xsd:attribute name="serialize" type="xsd:string" use="optional"></xsd:attribute>
        <xsd:attribute name="compress" type="xsd:string" use="optional"></xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="protocol">
        <xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="port" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>

    <xsd:element name="protocol" type="protocol"></xsd:element>
    <xsd:element name="registry" type="registry"></xsd:element>
    <xsd:element name="service" type="service"></xsd:element>
    <xsd:element name="referer" type="referer"></xsd:element>
    <xsd:element name="server" type="server"></xsd:element>

</xsd:schema>